@model Academy_Portal.Models.Batch
@{
    ViewBag.Title = "ModuleNominationRegistration";
    Layout = "~/Views/Shared/_LayoutEmployee.cshtml";
}

<h2>ModuleNominationRegistration</h2>
<h3>Batch Details</h3>
<dl class="dl-horizontal">
    <dt style="text-align:left">@Html.DisplayNameFor(b => b.BatchID)</dt>
    <dd>@Html.TextBoxFor(model => model.BatchID, new { @class = "form-control", @readonly = "readonly" })</dd>
    <dt style="text-align:left">@Html.DisplayNameFor(b => b.Technology)</dt>
    <dd>@Html.TextBoxFor(model => model.Technology, new { @class = "form-control", @readonly = "readonly" })</dd>
    <dt style="text-align:left">@Html.DisplayNameFor(b => b.BatchStartDate)</dt>
    <dd>@Html.TextBoxFor(model => model.BatchStartDate, new { @class = "form-control", @readonly = "readonly" })</dd>
    <dt style="text-align:left">@Html.DisplayNameFor(b => b.BatchEndDate)</dt>
    <dd>@Html.TextBoxFor(model => model.BatchEndDate, new { @class = "form-control", @readonly = "readonly" })</dd>
    <dt style="text-align:left">@Html.DisplayNameFor(b => b.ClassroomName)</dt>
    <dd>@Html.TextBoxFor(model => model.ClassroomName, new { @class = "form-control", @readonly = "readonly" })</dd>
    <dt style="text-align:left">@Html.DisplayNameFor(b => b.Module.ExecutionType)</dt>
    <dd>@Html.TextBoxFor(model => model.Module.ExecutionType, new { @class = "form-control", @readonly = "readonly" })</dd>
    <dt></dt>
    <dd style="margin-top:10px">@Html.ActionLink("Confirm E-Nomination", "BatchNominations", new { id = Model.BatchID }, new { @class = "btn btn-success" })</dd>
</dl>

@*<dl>
    <dd>@Html.DisplayNameFor(b => b.BatchID)</dd>
    <dt>@Html.DisplayFor(b => b.BatchID)</dt>
    <dd>@Html.DisplayNameFor(b => b.Technology)</dd>
    <dt>@Html.DisplayFor(b => b.Technology)</dt>
    <dd>@Html.DisplayNameFor(b => b.BatchStartDate)</dd>
    <dt>@Html.DisplayFor(b => b.BatchStartDate)</dt>
    <dd>@Html.DisplayNameFor(b => b.BatchEndDate)</dd>
    <dt>@Html.DisplayFor(b => b.BatchEndDate)</dt>
    <dd>@Html.DisplayNameFor(b => b.ClassroomName)</dd>
    <dt>@Html.DisplayFor(b => b.ClassroomName)</dt>
    <dd>@Html.DisplayNameFor(b => b.Module.ExecutionType)</dd>
    <dt>@Html.DisplayFor(b => b.Module.ExecutionType)</dt>
</dl>
<div>
    <p>@Html.ActionLink("Confirm E-Nomination", "BatchNominations", new { id = Model.BatchID }, new { @class = "btn btn-primary" })</p>
</div>*@
